*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

:root{
    --main: #901357;
    --darkmain: #520730;
    --mainnav:#dc96bd;
    --nav2:#e34da0;
    --nav3: #c8adc5;
    --red:#f4306e;
    --grey:#d7d7d7;
    --light-gr:#bbbabb;
    --black:#333;
    --white:#fff;
    --blue:rgb(37, 93, 126);
 
    --light-main:#fdb3dc;
    --light-white:#ffffff;
    --light-bg:#ffecf7;
    --border:.2rem solid var(--black);
    --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

body{
    background-color: #fdb3dc;
    display: flex;
}

.sidebar{
    position:sticky;
    top:0;
    left:0;
    bottom:0;
    height: 100vh;
    width: 110px;
    padding: 0 1.7rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    transition:all 0.5s linear;

}

.sidebar:hover{
    width:240px;
    transition: 0.5s;
}

.logo{
    height: 105px;
    text-align: center;
    display: flex;
    margin:10px 0 0 10px;
    justify-content: center;
}

.menu{
    height:83%;
    position:relative;
    list-style: none;
    padding:0;
}

.menu li{
    padding:1rem;
    margin:8px 0;
    border-radius:8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .active{
    background:#12111118;
}

.menu a{
    color: #901357; 
    font-size:14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size:1.2rem;
}

.logout{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}

.main-content{
    position:relative;
    width:100%;
    background: #ebe9e9;
    padding: 1rem;
}

.header-wrapper i{
    cursor: pointer;
    color: #901357;
    font-size: 1.5rem;
}

.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    border-radius:10px;
    background:#fff;
    padding:10px 2rem;
    margin-bottom:1rem;
    height: 15%;
}

.header-title{
    color:#901357;
}

.card-container{
    background: #fff;
    padding:2rem;
    border-radius:10px;
}

.card-wrapper{
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    margin-top: 10px;
}

.main-title{
    color:#901357;
    padding-bottom:10px;
    font-size:15px;
}

.payment-card{
    background:rgb(229,223,223);
    border-radius:10px;
    padding:1.2rem;
    width:48%;
    height:150px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition:all 0.5s ease-in-out;
}

.payment-card:hover{
    transform: translateY(-5px);
}

.card-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.title{
    font-size:20px;
    font-weight:600;
    margin-top: 10px;
    margin-left: 10px;
}



.box p{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:600;
}

.icon{
    color:#fff;
    padding:1rem;
    height:60px;
    width:60px;
    text-align:center;
    border-radius:50%;
    font-size:1.5rem;
    background:red;
    margin-top: 10px;
}

.tabular-wrapper{
    background:#fff;
    margin-top:1rem;
    border-radius: 10px;
    padding:2rem;
}

.table-container{
    width:100%;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background: #901357;
    color:#fff;
}

th{
    padding:15px;
    text-align:left;
}

tbody{
    background: #f2f2f2;
}

td{
    padding:15px;
    font-size:14px;
    color:#333;
}

tr:nth-child(even){
    background:#fff;
}

tfoot{
    background: violet;
    font-weight: bold;
    color:#fff;
}

tfoot td{
    padding:15px;
}

.table-container button{
    color:#e34da0;
    background: none;
    cursor:pointer;
}


.light-purple{
    background:rgb(254,226,254);
}

.light-pink{
    background: #e34da0; 
}

.empty{
    padding:1.5rem;
    font-size: 2rem;
    color:var(--red);
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    background-color: var(--white);
    border-radius: .5rem;
    text-transform: capitalize;
 }




 





