body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
    transition:all .2s linear;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: #901357;
 }

 
/* Navigation Bar */
.logo img {
    float: right;
    height: 105px; 
    width: auto;  
}

.navbar {
    background-color: #c8adc5; /* Purple */
    color: #000000;
    padding: 0px 50px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-links {
    float: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 50px;
}

.navbar .nav-links a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.navbar .nav-links a:hover {
    background-color: white; 
    color: #901357;
}

/* Dropdown */
.nav-links .dropdown {
    position: relative;
}

.nav-links .dropdown .dropbtn {
    background-color: transparent;
    color: #000000;
    padding: 14px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-right: 25px; /* Space for the arrow */
}

.nav-links .dropdown .dropbtn::after {
    content: '\203A'; /* Single right-pointing angle quotation mark */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg); /* Rotate to point downwards */
    font-size: 12px;
    color: #000000; /* Arrow color */
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.nav-links .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-links .dropdown-content a:hover {
    background-color: #e4d5dd; 
    color: #901357;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.nav-links .dropdown:hover .dropbtn {
    background-color: white; 
    color: #901357;
}

/* Login/Register Buttons */
.auth-buttons {
    display: flex;
}

.btn {
    background-color: #901357;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #701547;
    color: #ffffff;
    cursor: pointer;
}

.btn:active {
    background: plum;
    color: #000000;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0  10px rgba(0, 0, 0, 0.1);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
    list-style-type: none;
    height: 50px;
}

.sidebar a{
    width: 100%;
    text-decoration: none;
    color: black;
}


.sidebar a:hover{
    background-color: #e34da0; 
    color: #901357;
}

#signIn, #SendDonationRequest{
    position: fixed;
    width:100%;
    height:100vh;
    display: flex;  
}

#signIn .signIn-imageholder, #SendDonationRequest .signIn-imageholder{
    position: relative;
    width: 50%;
    height: 100%;
}

.signUp-image{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signIn-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.RequestDonation-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 100%;

}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:60%;
    height: 70%;
}

.form-box h1{
    font-size: 2rem;
    margin-bottom: 20px;
    display: inline-block;
    font-weight:600;
}

.form-box .input-box{
    margin-bottom: 20px;
    margin-top: 10px;
}

.form-box span, .form-box1 span{
    font-size:16px;
    display: inline-block;
    font-weight:bold;
    margin-bottom: 10px;
    
}

.message{
    position: absolute;
    top: 0;
    width:100%;
    max-width: 1200px;
    background-color: whitesmoke;
    display: flex;
    padding: 15px;
    gap: 1.5rem;
    z-index: 1000;
    justify-content: space-between;
    border-radius:5px;
    align-items: center;
    margin-left: 20px;
}

.message span{
    color:#701547;
    font-size:1.2rem;
    font-weight: 600;
    margin-left: 50px;
}

.message i{
    font-size: 1.5rem;
    color:black;
    cursor: pointer;
    margin-right: 20px;
}

.form-box .input-box input,.form-box1 .input-box input,.form-box1 .input-box select,textarea{
    width: 90%;
    padding: 10px 10px;
    outline:none;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #901357;
    border-radius: 30px;
    background-color: #bbbabb;
}

.form-box p{
    margin-left: 60px;
    margin-top: 25px;
}

textarea{
    height: 100px;
}

#signIn .btn, #SendDonationRequest .btn{
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

#signIn .btn:hover, #SendDonationRequest .btn:hover{
    background-color: #701547;
    color: #ffffff;
    cursor: pointer;
}

.password-field {
    position: relative;
}

.eye-icon{
    position: absolute;
    right: 30px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon svg{
    width:18px;
    height: 18px;
}

.forgot a,.noAccount a{
    text-decoration: none;
    color: #901357;
}

.forgot{
    text-align: right;
    margin-top:-10px;
    margin-bottom: 10px;
}

footer {
    background-color: #d9d9d9;
    color: #000000;
    padding: 20px;
    text-align: center;
 }
 
 footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 footer .footer-logo img {
    height: 80px;
    width: auto;
    margin-bottom: 10px;
 }
 
 footer .footer-links {
    margin-top: 20px;
 }
 
 footer .footer-links a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
 }
 
 footer .footer-links a:hover {
    color: #901357;
 }
 
 footer .social-media {
    margin-top: 20px;
 }
 
 footer .social-media a {
    margin: 0 10px;
    display: inline-block;
 }
 
 footer .social-media svg {
    height: 40px;
    width: 40px;
 }
 
 footer .social-media a:hover svg {
    fill: #901357;
    cursor: pointer;
    
 }  

.sidebar1{
    position:sticky;
    top:0;
    left:0;
    bottom:0;
    height: 100vh;
    width: 53px;
    padding: 0 1.7rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    transition:all 0.5s linear;

}

.sidebar1:hover{
    width:240px;
    transition: 0.5s;
}

.logo{
    height: 105px;
    text-align: center;
    display: flex;
    margin:10px 0 0 10px;
    justify-content: center;
}

.main-content{
    position:relative;
    width:100%;
    background: #ebe9e9;
    padding: 1rem;
}

.header-wrapper i{
    cursor: pointer;
    color: #901357;
    font-size: 1.5rem;
}

.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    border-radius:10px;
    background:#fff;
    padding:10px 2rem;
    margin-bottom: 5px;
    height: 10%;
   
}

.header-title{
    color:#901357;
    margin-top: 20px;
}

.menu{
    height:83%;
    position:relative;
    list-style: none;
    padding:0;
}

.menu li{
    padding:1rem;
    margin:8px 0;
    border-radius:8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .active{
    background:#12111118;
}

.menu a{
    color: #901357; 
    font-size:14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size:1.2rem;
}

.logout{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}

.user-icon i {
    color: #901357;
}

.user-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px; 
}

.user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    min-width: 230px;
}

.user-icon:hover .user-dropdown {
    display: block;
}

.user-dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    text-align:center;
}

.user-dropdown a:hover {
    background-color: #901357;
    color: white;
}


@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(min-width:800px){
    .hideOnLaptop{
        display: none;
    }
}

@media(max-width:400px){
    .sidebar{
        width:100%;
    }
}

@media only screen and (max-width: 800px) {
    /* Hide the sign up image on small screens */
    .signIn-imageholder {
      display: none;
    }
    
    /* Make the form and navigation bar full-width */
    .signIn-content, .RequestDonation-content {
      width: 100%;
      padding: 20px;
      background-image:url('imagesSignIn/support.jpg');
    }
    
    .navbar {
      width: 100%;
      padding: 0;
    }
    
    /* Adjust the form layout */
    .form-box{
      width: 100%;
      padding: 40px;
      background-color: #ffffff;
      border-radius: 10px;
      margin-top: 10px;
    }

    .form-box1{
        width: 100%;
        padding: 40px;
        background-color: #ffffff;
        border-radius: 10px;
        overflow: auto;
        height: 65%;
    }
    
    .input-box {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .btn {
      width: 100%;
    }

    .logo img{
        margin-left: 20px;
    }

    .navbar svg{
        margin-right: 20px;
    }

    .form-box .Welcome, h1,.form-box1 .Welcome{
        display: block;
    }

    .message{
        position: absolute;
        top: 0;
        width:95%;
        max-width: 1200px;
        background-color: white;
        display: flex;
        padding: 15px;
        gap: 1.5rem;
        z-index: 1000;
        justify-content: space-between;
        border-radius:5px;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    .form-box p{
        margin-left: 120px;
        margin-top: 25px;
    }

    .eye-icon{
        right: 50px;
    }

  }
