body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffecf7;
    
    background-size: cover; /* Makes the image cover the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }

  *{
    font-family: 'Rubik', sans-serif;
  }

  .login-image-container {

    float: left;
    margin-top: 0;
    width: 45%;
    height: 400px;
  
    display: flex; /* Enables flex properties */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Ensures no overflow of the image */
  }
  
  /* For the image inside the container */
  .login-image-container img {
    margin-top: 20px;
    width: auto;
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
    max-height: 100%; /* Ensure it doesn't exceed the container's height */
    object-fit: cover; /* Makes the image fit nicely */
  }



  .container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  .container h1{
    font-size: 30px;
   
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
 
  
  .grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
  }
  .navbar {
    background-color: #ffffff; /* Purple */
    color: #000000;
    padding: 0px 50px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
  float: right;
  height: 105px; 
  width: auto;  
}
  .card {
    
    justify-content: center;
  align-items: center;
  text-align: center;
    width: 60%;
    margin:25px auto;
    background: #ffffff;
    border: 1px solid #ffecf7;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card h2 {
    margin-top: 0;
    color: #000000;
  }
  
  .card p {
    color: #000000;
    margin: 15px 0;
  }
  
  .card a {
    
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: #901357;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */

  }
  
  .card a:hover {
    background: #640d4d;
  }
  
  .card1 {
    display:flex;
    justify-content: center;
    width: 60%;
    
    margin:25px auto;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card1 h2 {
    margin-top: 0;
    text-align: center;
    color: #000000;
  }
  

  
  .card1 a {
    
    
    text-decoration: none;
    color: #ffffff;
  
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
