  /* Footer Section */
  footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .footer-logo img {
    height: 80px;
    width: auto;
    margin-bottom: 10px;
  }
  
  footer .footer-links {
    margin-top: 20px;
  }
  
  footer .footer-links a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer .footer-links a:hover {
    color: #901357;
  }
  
  footer .social-media {
    margin-top: 20px;
  }
  
  footer .social-media a {
    margin: 0 10px;
    display: inline-block;
  }
  
  footer .social-media svg {
    height: 40px;
    width: 40px;
  }
  
  footer .social-media a:hover svg {
    fill: #901357;
    cursor: pointer;
    
  }  
  
  @media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
  }
  
  @media(min-width:800px){
    .hideOnLaptop{
        display: none;
    }
  }
  
  @media(max-width:400px){
    .sidebar{
        width:100%;
    }
  }
  