/* Add this to your CSS file */
button.logout {
    background-color: #901357;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    float:right;
    transition: background-color 0.3s ease;
}

button.logout:hover {
    background-color: #640d3d; /* Darker red for hover effect */
}
