body {
    
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  *{
    font-family: 'Rubik', sans-serif;
  }
  
  /* Back Button Styles */
.back-button {
  text-align: left;
  margin-bottom: 20px;
}

.back-button a button {
  background-color: #901357;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-button a button:hover {
  background-color: #640d3d;
}

  .container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffecf7;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #640d3d;
    color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #901357;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #640d3d;;
  }
  